<h1>Locações</h1>

<%= link_to 'Registrar nova locação', new_rental_path %>

<%= form_tag("/rentals/search", method: "get") do %>
  <%= label_tag(:q, "Pesquisar") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Buscar") %>
<% end %>

<%= link_to 'Voltar', root_path %>