<%= @rental.code %>
<%= l(@rental.start_date, format: t('date.formats.default')) %>
<%= l(@rental.end_date, format: t('date.formats.default')) %>
<%= @rental.client.name %>
<%= @rental.car_category.name %>
<%= @rental.user.email %>

<%= link_to 'Efetivar locação', start_rental_path(id: @rental.id) %>

<button>Cancelar locação</button>
<div id='cancel-rental'>
    <%= form_with url: cancel_rental_path(@rental), method: 'patch' do |f| %>
        <%= f.label :description, 'Descrição' %>
        <%= f.text_field :description %>
        <%= f.submit 'Confirmar' %>
    <% end %>
</div>

<%= link_to 'Voltar', search_rentals_path({q: @rental.code}) %>


