<p>Locação: <%= @car_rental.rental.code %></p>
<p>Cliente: <%= @car_rental.rental.client.name %> - <%= @car_rental.rental.client.cpf %></p>
<p>Carro: <%= @car_rental.car.full_description %></p>
<p>Quilometragem: <%= @car_rental.start_mileage %></p>
<p>Preço: <%= @car_rental.price %></p>